@charset "UTF-8";

/* ---------- 共通 ---------- */

.profile,
.history,
.skills,
.strength,
.love,
.design {
  display: flex;
  height: 100%;
  align-items: center;
}

/* ---------- 共通 セクションタイトル ---------- */

.ttl {
  width: 60px;
  border: 1px solid #ec6c4e;
  position: relative;
}

h2 {
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.2em;
  writing-mode: vertical-rl;
  font-feature-settings: initial;
  position: absolute;
  top: 25px;
  left: 17px;
}

.ttl p {
  font-size: 30px;
  line-height: 0.6;
  letter-spacing: 0.12em;
  transform: rotate(-15deg);
  position: absolute;
  bottom: 40px;
  right: -50px;
}

.erase {
  width: 10px;
  height: 20px;
  background: #fffcf5;
  position: absolute;
  top: 23px;
  left: 56px;
}

.ttl_line {
  width: 486px;
  border-bottom: 1px solid #ec6c4e;
  position: absolute;
  bottom: 38px;
  right: 50px;
}

.history .ttl_line {
  width: 200px;
}

/* ---------- profile ---------- */

.profile {
  margin-left: 150px;
}

.profile .ttl {
  height: 300px;
}

.profile > div:nth-of-type(2) {
  margin-left: 130px;
}

.profile > div:nth-of-type(4) {
  margin-left: 300px;
}

.profile .txt {
  width: 590px;
}

.profile .txt p {
  width: 590px;
  line-height: 1.7;
  text-align: justify;
}

/* .bg_img {
  background-image: url(../images/flower01.png);
  height: 300px;
  width: 300px;
} */

.profile div:nth-of-type(3) p:nth-of-type(2) {
  font-size: 18px;
  color: #ec6c4e;
  margin-top: 95px;
}
/* ---------- history ---------- */

.history {
  gap: 116px;
  margin-left: 900px;
}

.history .ttl {
  height: 385px;
}

.history .contents {
  display: flex;
  gap: 32px;
}

.history .content {
  position: relative;
  width: 109px;
  height: 400px;
}

h3 {
  letter-spacing: 0.18em;
  color: #fffcf5;
  width: 27px;
  height: 86px;
  background-color: #f2917e;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history .line {
  width: 107px;
  height: 393px;
  border-top: 1px solid #f2917e;
  border-left: 1px solid #f2917e;
  position: absolute;
  top: 0px;
  left: 0px;
}

.history .txt {
  writing-mode: vertical-rl;
  padding-top: 14px;
  padding-left: 42px;
}

.line_diagonal {
  width: 13px;
  border-bottom: 1px solid #f2917e;
  transform: rotate(45deg);
  position: absolute;
  top: -4px;
  left: 97px;
}

.history .content_last {
  display: flex;
  gap: 17px;
}

.history .content_last p {
  line-height: 1.5;
  letter-spacing: 0.025em;
}

.history .content_bottom {
  width: 280px;
  margin-top: 88px;
}

.history .content_bottom p:nth-of-type(1) {
  text-align: center;
  line-height: 2;
  width: 270px;
  border: 1px solid #f2917e;
  margin: 0 auto;
}

.history .content_bottom p:nth-of-type(2) {
  line-height: 1.5;
  letter-spacing: 0.025em;
  text-align: center;
  width: 270px;
  margin: 0 auto;
}

/* ---------- skills ---------- */

.skills {
  margin-left: 40px;
}

.skills .ttl {
  height: 263px;
}

.skills table:nth-of-type(1) {
  margin-left: 85px;
}

.skills table:nth-of-type(2) {
  margin-left: 42px;
}

table {
  margin-top: 30px;
}

th {
  padding-right: 25px;
}

td {
  height: 68px;
  padding-right: 10px;
}

.skills .first,
.skills .second,
.skills .third {
  font-family: din-2014, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: normal;
  color: #ec6c4e;
  text-align: center;
}

.skills .second {
  color: #f2917e;
}

.skills .third {
  color: #ffc0b3;
}

.skills .ranking {
  width: 40px;
}

.skills .icon {
  width: 73px;
}

.skills .icon_name {
  font-family: din-2014, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: normal;
}

.skills .icon_top {
  width: 56px;
}
.skills .icon_middle {
  width: 47px;
}
.skills .icon_bottom {
  width: 54px;
}

/* ---------- 共通 strength love design ---------- */

.strength,
.love,
.design {
  margin-left: 40px;
}

.strength .contents,
.love .contents,
.design .contents {
  margin-left: 84px;
}

.strength .content,
.love .content,
.design .content {
  display: flex;
}

.strength .content:nth-of-type(n + 2),
.love .content:nth-of-type(n + 2),
.design .content:nth-of-type(n + 2) {
  margin-top: 37px;
}

.check {
  width: 28px;
  margin-right: 20px;
}

/* ---------- strength ---------- */

.strength .ttl {
  height: 227px;
}

.strength .contents > p:nth-of-type(1) {
  margin-top: 78px;
}

.strength .contents > p:nth-of-type(2) {
  width: 272px;
  margin-top: 32px;
}

/* ---------- love ---------- */

.love .ttl {
  height: 223px;
}

/* ---------- design ---------- */

.design .ttl {
  height: 263px;
}
