@charset "UTF-8";

/* ---------- 共通 タイトル ---------- */

.ttl {
  width: 74px;
  border: 1px solid #ec6c4e;
  position: relative;
}

h2 {
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.2em;
  writing-mode: vertical-rl;
  position: absolute;
  top: 25px;
  left: 15px;
  /* padding: 30px 16px 68px;
  border: 1px solid #ec6c4e; */
}

.ttl p {
  font-size: 30px;
  line-height: 0.6;
  letter-spacing: 0.12em;
  transform: rotate(-15deg);
  position: absolute;
  /* top: 189px;
  left: 33px; */
  bottom: 40px;
  right: -50px;
}

.erase {
  width: 10px;
  height: 20px;
  background: #fffcf5;
  position: absolute;
  top: 23px;
  left: 70px;
}

.profile_line {
  width: 486px;
  border-bottom: 1px solid #ec6c4e;
  position: absolute;
  /* top: 200px;
  left: -471px; */
  bottom: 38px;
  right: 50px;
}

/* ---------- profile ---------- */

.profile {
  display: flex;
  margin-left: 150px;
}

.profile .ttl {
  height: 300px;
}

.profile > div:nth-of-type(2) {
  margin-left: 130px;
}

.profile > div:nth-of-type(3) {
  margin-left: 300px;
}

.profile_txt {
  width: 590px;
  line-height: 1.7;
  text-align: justify;
}

.profile div:nth-of-type(3) p:nth-of-type(2) {
  font-size: 18px;
  color: #ec6c4e;
  margin-top: 95px;
}
/* ---------- history ---------- */

.history {
  display: flex;
  gap: 116px;
}

.history .ttl {
  height: 385px;
}

.history .contents {
  display: flex;
  gap: 32px;
}

.history .content {
  position: relative;
  width: 109px;
  height: 400px;
}

h3 {
  letter-spacing: 0.18em;
  color: #fffcf5;
  width: 27px;
  height: 86px;
  background-color: #f2917e;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history .line {
  width: 107px;
  height: 393px;
  border-top: 1px solid #f2917e;
  border-left: 1px solid #f2917e;
  position: absolute;
  top: 0px;
  left: 0px;
}

.history .txt {
  writing-mode: vertical-rl;
  padding-top: 14px;
  padding-left: 42px;
}

.line_diagonal {
  width: 13px;
  border-bottom: 1px solid #f2917e;
  transform: rotate(45deg);
  position: absolute;
  top: -4px;
  left: 97px;
}

.history .content_last {
  display: flex;
  gap: 17px;
}

.history .content_last p {
  line-height: 1.5;
  letter-spacing: 0.025em;
}

.history .content_bottom {
  width: 280px;
  margin-top: 88px;
}

.history .content_bottom p:nth-of-type(1) {
  text-align: center;
  line-height: 2;
  width: 270px;
  border: 1px solid #f2917e;
  margin: 0 auto;
}

.history .content_bottom p:nth-of-type(2) {
  line-height: 1.5;
  letter-spacing: 0.025em;
  text-align: center;
  width: 270px;
  margin: 0 auto;
}

/* ---------- 使えるスキル ---------- */

.skills .ttl {
  height: 263px;
}

.skills .content {
  display: flex;
  align-items: center;
}

.skills .first,
.skills .second,
.skills .third {
  font-family: din-2014, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: normal;
  color: #ec6c4e;
  text-align: center;
}

.skills .second {
  color: #f2917e;
}

.skills .third {
  color: #ffc0b3;
}

.skills .ranking {
  width: 40px;
}

.skills .content div:nth-of-type(2) {
  margin-left: 25px;
}
.skills .content div:nth-of-type(3) {
  margin-left: 15px;
}

.skills .icon {
  width: 73px;
}

.skills .content > div:nth-of-type(3) p {
  letter-spacing: normal;
}

.skills .icon_top {
  width: 56px;
}
.skills .icon_middle {
  width: 47px;
}
.skills .icon_bottom {
  width: 54px;
}

/* ---------- 得意なこと ---------- */

.sterength .ttl {
  height: 385px;
}

/* ---------- 好きなこと ---------- */

.love .ttl {
  height: 385px;
}

/* ---------- 好きなデザイン ---------- */

.design .ttl {
  height: 385px;
}
