@charset "UTF-8";

/* .main {
  overflow: auto;
  scroll-snap-type: mandatory;
  display: flex;
} */

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg_1-80.jpg);
  background-repeat: no-repeat;
  transition: 0.5s ease;
  background-size: cover;
  opacity: 1;
}

/* main {
  overflow: hidden;
  overflow-x: scroll;

  scroll-snap-type: x mandatory;
} */

/* section {
  scroll-snap-align: start;
} */

body {
  width: 100vw;
  background-color: #fffcf5;
}

main {
  background-color: #fffcf5;
  height: 100%;
}

.wrapper {
  height: 400px;
}

.scroll_section {
  height: 100%;
}

@media screen and (max-width: 767px) {
  .wrapper {
    height: 650px;
  }
}

/* ---------- フォント ---------- */

.en {
  font-family: din-2014, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.2em;
}

.here {
  font-weight: 700;
  color: #ec6c4e;
}

.cursive {
  font-family: adventures-unlimited, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ec6c4e;
  text-align: right;
}

/* ---------- 左 固定デザイン---------- */

.top_portfolioname {
  width: 4%;
  height: 100vh;
  background: #fffcf5;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10001;
}

.top_portfolioname p {
  writing-mode: vertical-rl;
  margin: 0 auto;
}

.top_portfolioname span {
  color: #ec6c4e;
}

@media screen and (max-width: 767px) {
  .top_portfolioname {
    width: 100vw;
    height: 45px;
    top: auto;
    left: auto;
    bottom: 0px;
    right: 0px;
    z-index: 5000;
  }

  .top_portfolioname.open {
    display: none;
  }

  .top_portfolioname p {
    font-size: 12px;
    writing-mode: horizontal-tb;
    line-height: 3.75;
  }
}

/* ----------右 固定デザイン---------- */

.header {
  display: flex;
  /* width: 133px; */
  /* ここが表示崩れの原因 */
  height: 100%;
  background: #fffcf5;
  align-items: center;
  position: fixed;
  /* right: 0px; */
  /* 消したもの② */
  z-index: 10000;
}

header .wrapper {
  writing-mode: vertical-lr;
  margin: 0 auto;
}

.pc_nav {
  background: #fffcf5;
  display: flex;
  flex-direction: column-reverse;
}

.pc_nav li {
  width: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pc_nav ul {
  font-size: 16px;
}

.pc_nav .line {
  width: 1px;
  height: 400px;
  background: #000;
}

@media screen and (max-width: 1336px) {
  /* .header {
    width: 10%;
  } */
  /* ここが表示崩れの原因 */
}

@media screen and (max-width: 767px) {
  .header {
    background: transparent;
  }
}

/* ---------- スマホ版メニュー ---------- */

.sp_menu,
.sp_btn {
  display: none;
}

@media screen and (max-width: 767px) {
  .pc_nav,
  header .wrapper {
    display: none;
  }

  /* ---------- ハンバーガーメニュー(ボタン) ---------- */

  .sp_btn {
    display: block;
    width: 45px;
    height: 45px;
    background: #f2917e;
    cursor: pointer;
    position: fixed;
    /* ③absolutelから変更 */
    bottom: 0px;
    right: 0px;
    z-index: 5100;
  }

  .sp_btn span {
    display: block;
    width: 30px;
    height: 2px;
    background: #fff;
    position: relative;
    top: 16px;
    left: 8px;
    transition: 0.3s;
  }

  .sp_btn span::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -13px;
    left: 0px;
    transition: 0.3s;
  }

  .sp_btn.open span {
    top: 22px;
    transform: rotate(45deg);
  }

  .sp_btn.open span::after {
    bottom: 0px;
    left: 0;
    transform: rotate(-90deg);
  }

  /* ---------- スマホ版メニューの見た目 ---------- */

  .header.open {
    display: block;
    height: 100%;
    background-color: #fffcf5;
    /* position: static; */
    /* 消したもの① */
  }

  .fade-effect {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fffcf5;
    opacity: 0;
    z-index: 999;
    transition: opacity 0.5s ease;
  }

  .fade-effect.show {
    opacity: 1;
  }

  .sp_menu > div {
    display: flex;
  }

  /* .sp_menu {
    opacity: 0;
    transition: 0.3s;
  }

  .sp_menu.active {
    opacity: 1;
  } */

  .menu_portfolioname {
    height: 100vh;
    writing-mode: vertical-rl;
    border-right: 1px solid #423732;
    border-left: 1px solid #423732;
    transform: rotate(180deg);
    margin-left: 5%;
  }

  .menu_portfolioname p {
    font-size: 12px;
    line-height: 4;
  }

  .menu_portfolioname span {
    color: #ec6c4e;
  }

  .sp_menu .content {
    position: relative;

    width: 100vw;
    height: 100vh;
  }

  .sp_nav {
    width: 100vw;
    height: 100%;
  }

  .sp_nav li {
    width: 100%;
    vertical-align: bottom;
    position: absolute;
    bottom: 100px;
    left: 0px;
  }

  .sp_nav ul {
    font-size: 22px;
    display: flex;
    align-items: flex-end;
    height: 50px;
    border-bottom: 1px solid #423732;
    padding-left: 38%;
    padding-bottom: 0px;
    position: relative;
  }

  .sp_nav ul span {
    font-size: 12px;
    letter-spacing: 0em;

    display: block;
    position: absolute;
    right: 22%;
    bottom: 3px;
  }

  .triangle_top {
    width: 60%;
    height: 93%;
    clip-path: polygon(0 0, 0% 100%, 100% 0%);
    background-color: #ec6c4e;
    position: absolute;
    top: 0;
    left: 0;
  }

  .triangle_bottom {
    width: 59.7%;
    height: 92.5%;
    clip-path: polygon(0 0, 0% 100%, 100% 0%);
    background-color: #fffcf5;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* ---------- SP版 左上文字 ---------- */

.page_ttl {
  display: flex;
}

.page_ttl p:nth-of-type(1) {
  font-size: 12px;
  letter-spacing: 0.18em;
  line-height: 2.5;
  color: #fffcf5;
  width: 70px;
  height: 30px;
  background: #f2917e;
  text-align: center;
}

.page_ttl p:nth-of-type(2) {
  font-size: 12px;
  letter-spacing: 0.18em;
  line-height: 2.5;
  width: 40px;
  height: 30px;
  text-align: center;
}
